visualization/latest_game.pgn
visualization/.R*
visualization/costs.csv
visualization/random_position.fen
visualization/rewards.csv
visualization/edge_positions/*
visualization/alpha_tests.txt
visualization/test_losses.csv
visualization/external_*_costs.csv
visualization/misc_tests
data/*Checkmates.pkl.gz
data/*/*Buffer*.pkl.gz
data/*/*.csv
external/*.txt
external/*.pgn
external/preprocessed_games
external/tensor_list_*.pkl.gz
external/preprocessed_tactics
external/lichess_db_puzzle.csv
installation/chess_env
__pycache__
config.txt
nets/*
logs/*
*.pyc
.Rhistory
